div{
    background-color: aliceblue;
    display: inline-block;
}

img{
    width: 100px;
    height: 50px;
    display: inline-block;

}

img:active{
    width: 800px;
    height: 600px;
    font-size: 300%;
    position: center;
    image-resolution: from-image;
}
