body{
    height: 700px;
    display: flex;
    background-color: #5798ff;
    flex-flow: row wrap;
    align-items: center;
}
div{
    border: 2px solid red;
    background-color: blanchedalmond;
    width: 200px;
    /*height: 100px;*/
    justify-content: center;
    align-content: flex-end;


}
#two{
    align-item: baseline;
}
#three {
    align-item: flex-start;

}