
html, header, body {
    box-sizing: border-box;
}


header {
    /*border: 5px solid black;*/

    background: linear-gradient(to left, #00245e, #9ec0f7);
    /*background: transparent;*/
    border-radius: 25px;
    width: 100%;
    height: 200px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-bottom: 5px;
    /*position: fixed;*/


}

.f1 {

    font-size: 3rem;
    color: white;
    background: linear-gradient(to left, #00245e, #9ec0f7);
    height: auto;
    border: 2px solid white;
    border-radius: 25px;
    margin: 0;


}

.main {
    display: inline-flex;
    flex-flow: column wrap;
    margin-left: 2px;
    margin-right: 2px;
    font-size: 3rem;
    color: white;
    width: 80%;
    background-color: silver;
    /*margin: 0 auto;*/
    border: 2px solid white;
    border-radius: 25px;


}

div {

    justify-content: center;
    border: 2px solid white;
    border-radius: 25px;
    text-align: center;
}

body {

    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 100%;
    order: 1;
    flex: auto;


    /*border: 2px solid dodgerblue;*/
    background-color: snow;

}

.side {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 25px;
    width: 8%;
    border: 2px solid black;
    background-color: dodgerblue;
}

.rside {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    order: 2;
    width: 8%;
    border-radius: 25px;
    border: 2px solid black;
    background-color: red;
}

footer {

    height: 200px;
    width: 100%;
    padding-bottom: 0;
    background-color: red;
    border: 2px solid red;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    order: 3;


}

.foot {
    font-size: 40px;

}

img {
    width: auto;
    height: available;
}

/*hr{*/
/**/
/*border: 10px solid black;*/
/*}*/



