* {
    height: auto;
}

.f1 {
    font-size: 20px;
    height: auto;
}

header {
    height: auto;
}

.main {
    width: 59%;
    font-size: 10px;
}

body {
    margin: 0 auto;
}

.rside {
    width: 19%;
    align-items: start;
}

.side {
    width: 15%;
    align-items: normal;
}

ul {
    list-style: none;

}

footer {
    height: auto;
}

.foot {
    font-size: 30px;
}

